:root{
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --nav-color:rgba(255, 255, 255, 0.2);
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --nav-color:rgba(7, 11, 29, 0.8);
}

*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  color: var(--text-color);
  background: var(--base-variant);
  line-height: 1.5;
}

svg{
  fill: var(--text-color);
}

nav{
  background-color: var(--base-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

nav a:hover{
  background-color: var(--base-variant);
  color: var(--accent-color);
}

nav li:first-child{
  margin-right: auto;
  font-family: monospace;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

#theme-switch{
  height: 30px;
  width: 100px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-color);
}

#theme-switch svg{
  fill: var(--text-color);
}

#theme-switch svg:last-child{
  opacity: 0.1;
}

.darkmode #theme-switch svg:first-child{
  opacity: 0.1;
}

.darkmode #theme-switch svg:last-child{
  opacity: 1;
}

button{
  padding: .8em 2em;
  background-color: var(--primary-color);
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--nav-color);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0  10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-start;
  display: none;
}

.sidebar li{
  width:100%;
}

.sidebar a{
  width: 100%;
}

.menu-btn{
  display: none;
}

.about{
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  min-height: 100vh;
  font-size: 1.7rem;
  line-height: 1.8;
  overflow: hidden;
}

.animated-img{
  width: 400px;
  height: 400px;
}

dotlottie-player {
  width: 100%;
  height: 100%;
}

.about p{
  letter-spacing: 2px;
  max-width: auto;
  text-align: center;
  margin: 0 5%;
}

.h2-anim{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-family: monospace;
  position: relative;
  margin: 30px auto;
  position: relative;
  font-size: 3rem;
  -webkit-text-stroke: 0.2rem var(--secondary-text);
}

h2::before{
  font-family: monospace;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--accent-color);
  -webkit-text-stroke: 0rem var(--secondary-text);
  border-right: 2px solid var(--accent-color);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

.list-of-projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 34px;
  row-gap: 16px;
  overflow: hidden;
}

.project-card{
  overflow: hidden;
  display: grid;
  grid-template-columns: 165px 1fr;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  box-shadow: 2px 2px 5px 0px var(--nav-color)
}

.project-card h3{
  margin: 0 0 5px 10px;
  font-size: 1.625rem;
  font-weight: 600;
}

.project-card:nth-child(2){
  transition-delay: 200ms;
}

.project-card:nth-child(3){
  transition-delay: 400ms;
}

.project-card:nth-child(4){
  transition-delay: 600ms;
}


.hidden-l{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden-r{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.hidden-b{
  opacity: 0;
  filter: blur(5px);
  scale: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  scale: 1;
}


@keyframes animate{
  0%,10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}


@media screen and (max-width: 1200px){
  .about p{
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 768px){
  .hideOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
  }

  .animated-img{
  
  }
}

@media screen and (max-width:800px){
  .about p{
    font-size: 1rem;
  }

  #theme-switch{
    width:40px ;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 478px){
  .sidebar{
    width: 100%;
  }

  .animated-img{
    display: none;
  }

  .about p{
    line-height: 1.4;
    font-size: 1.2rem;
  }
}